.blackBanner{
    background: #212121;
    padding: 36px 40px;
    max-width: 1080px;
    h2{
        color: #FFF;
        font-size: 60px;
        letter-spacing: 3px;
        font-weight:normal;
    }
}