$black:#212121;
.mainNav{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            margin-bottom: 15px;
            a{
                color:$black;
                text-align: center;
                font-size: 4vw;
                line-height: 6vw;
                letter-spacing: -4px;
                text-transform: lowercase;
                background-color: #fff;
                border: 10px solid $black;
                min-width: 380px;
                display: inline-block;
                text-align: center;
                transition: 0.3s ease all;
                font-family: 'bebas_kairegular';
                &:hover, &.active{
                    background-color: $black;
                    color: #fff;
                    transition: 0.3s ease all;
                }
            }
        }
    }
}
