.carousel{
    padding-bottom: 40px;
    &-indicators{
        margin: 0;
        display: inline-block;
        width: inherit;
        left: 0;
        bottom: 16px;
        right: inherit;
     
    }
    &-indicators [data-bs-target]{
        background: #212121;
        border: 0;
        height: 5px;
    }
}
.carousel-item{
    background-color: #777;
    min-height: 800px;
}
.carousel-control-prev{
    display: inline-block;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 50px;
    height: 30px;
    width: 30px;
    left: inherit;
    top: inherit;
    &-icon{
        background-image: url(../images/arrow.svg);
        background-size: inherit;
         background-position: 0 3px;
    }
    
}
.carousel-control-next{
    display: inline-block;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30px;
    left: inherit;
    top: inherit;
    &-icon{
        background-image: url(../images/arrow.svg);
        background-size: inherit;
         background-position:-56px 3px;
    }
    
}