
.text-red{
    color: #FF0000;
}
.text-bold{
    font-weight: bold;
}

.sectionTitle{
    font-size: 40px;
    line-height: 100px;
    letter-spacing: 4px;
    font-weight: normal;
    font-family: Inter;
}